// --------------------
// Sullivan main styles
// --------------------

// Template Imports
// ----------------
@import "@{templateCommon}/bk-less-framework.less";     // BK LESS Framework

@import "@{templateLocal}/less/variables.less";         // Variables

@import "@{templateLocal}/less/widget-gallery.less";    // Widgets
@import "@{templateLocal}/less/widget-navigation.less";

@import "@{templateLocal}/less/plugin-blog.less";       // Plugins
@import "@{templateLocal}/less/plugin-menu.less";
@import "@{templateLocal}/less/plugin-ecommerce.less";

// Mixins
// ------

.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}

// Template Styles
// ---------------

// Wrapping container
.container,
.feature__content-wrap {
    width: 85%;
    margin: 0 auto;
	padding: 20px 0;
}


// Formatting all inputs and buttons so they match in size
input, textarea, button, .button {
    padding: 5px 12px;
    line-height: @font-swatch7-line-height;
}


// Header
.template-header {
	background-color: @color-swatch7;
	.container {
		padding: 0;
	}
	.line__rule {
		margin: 0;
		background-color: fadeout(@color-swatch6, 90%);
		height: 1px;
	}
}

// Feature
.feature__background-image {
	background-size: 100% auto;
	background-size: cover;
	padding: 6em 0;
}

.widget__feature {
	.gradient(@color-swatch7, @color-swatch2);
}


// Fixed image
.template-content {
	position: relative;
	> .widget--template-widget {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 30%;
		+ .container {
			padding-right: 30%;
		}
	}
	figure {
		margin: 0;
	}
}
